{{define "index/about"}}
    {{ template "layout/header" .}}
        <style>ul li {line-height: 2rem;font-size: 17px}</style>
        <div class="ui container">
            <div class="ui padded grid stackable">
                <div class="sub-title">- About Me -</div>
                <div id="about" class="mt-50" style="padding: 0 5rem"><h3 id="关于我">关于我</h3>
                    <ul>
                        <li>90后 | Mr.bo | PHPER工程师一枚；</li>
                        <li>做过前端，主打后端，技术盏：<b>VUE、Python、Golang、PHP、ApiCloud、Uni-app</b>；</li>
                        <li>php框架：<b>Laravel、ThinkPHP</b> 等；</li>
                        <li>Golang框架：<b>Gin、Beego</b>；</li>
                        <li>Python框架：<b>Scrapy</b>，做过一段时间爬虫；</li>
                        <li>下一阶段目标：<b>React、Java</b> ；</li>
                        <li><b>The Last</b> - 返璞归真，重新拥抱 <b>PHP</b>；</li>
                    </ul>
                    <h3 id="关于本站">关于本站</h3>
                    <ul>
                        <li>备案了域名，搭建第一个开源博客基于 <b>wecenter</b>。 ---2017-05-21</li>
                        <li>更改博客源码，内核基于 <b>Thinphp3.2</b>，前端大改版。 ---2017-08月</li>
                        <li>接触 <b>Laravel</b>,更改博客内核 <b>Laravel5.8</b>，前端参照 <b>learnku.com</b>。 ---2019.02月</li>
                        <li>开始接触 <b>Golang</b>，看过 <b>Beego、Gin</b>，最后被 <b>Gin</b> 的简洁所吸引。  ---2019.10月</li>
                        <li>使用Gin构建博客，作为练手项目，后续继续扩展。 ---2019.12 - 至今</li>
                    </ul>
                    <h3 id="关于版权">关于版权</h3>
                    <ul>
                        <li>本站博文采用 采用知识共享署名-非商业性使用 4.0 国际许可协议 进行许可。</li>
                        <li>本站文章均原创，若未特别声明，转帐请保留作者信息及文章原始链接。</li>
                    </ul>
                </div>
            </div>
        </div>
    {{ template "layout/footer" .}}
{{end}}