{{define "layout/meta"}}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/statics/css/semantic.min.css">
    <link rel="stylesheet" href="/statics/css/blog.css">
    <style>
        .ui.grid:not(.header .ui.grid, .write-footer .ui.grid){margin-top:0!important}
        .ui.vertical.menu{width:auto}
        .ui.right.sidebar.vertical.menu{width:15rem}
        .three.wide.column>.ui.vertical.menu>a.item.active,.three.wide.column>.ui.vertical.menu>a.item.active:hover,.ui.right.sidebar.vertical.menu>a.item.active,.ui.right.sidebar.vertical.menu>a.item.active:hover{background-color:#337ab7;color:#fff;border:none!important}
        .three.wide.column>.ui.vertical.menu>a.item:hover,.ui.right.sidebar.vertical.menu>a.item:hover{background-color:#f5f5f5}
        .ui.fixed.borderless.menu{padding:0;flex-wrap:wrap}
        .ui.fixed.borderless.menu .row>a.header.item{font-size:1.2rem}
        .ui.message{background-color:rgb(238,238,238);box-shadow:none;}
        .ui.message h1.ui.header{font-size:4.5rem}
        .ui.message p.lead{font-size:1.3rem;color:#333;line-height:1.4;font-weight:300}
        @media only screen and (max-width:767px){.ui.message h1.ui.header{font-size:2rem}}
        button.ui.top.right.attached.button{position:absolute;top:0;right:0;border-bottom-right-radius:0;padding-right:.75rem}
        .pushable{height:unset;overflow-x:visible}
        .ui.right.sidebar{height:auto!important;margin-top:1rem!important;padding-left:0;padding-right:0}
        footer:not(.write-footer){padding:24px 0}
        .category .active {background: #1b1c1d!important;}
    </style>
    {{/* 提醒框 */}}
    <div class="ui mini modal">
        <div class="header">{{ .app_name }}提醒您 </div>
        <div class="content">
            <p id="message"></p>
        </div>
        <div class="actions">
            <div class="ui positive right labeled icon button">确定 <i class="checkmark icon"></i> </div>
        </div>
    </div>
{{end}}